.createIssueModal {
    display: none;
    flex-direction: column;
    width: calc(100% - 150px);
    height: 100%;
    background-color: var(--bg-opacity-low);
    backdrop-filter: blur(10px);

    position: absolute;
    left: 150px;
    top: 0px;
    /* justify-content: center; */
    align-items: center;
}

.createIssueModal .closeButton {
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 40px;
    justify-self: flex-start;
    background: none;
    margin-bottom: 10px;
    border: none;
}

.closeButton img {
    width: 30px;
    height: 30px;
}

.error {
    color: red !important;
}

form {
    margin-top: 15vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: solid 1px white;
}

form .field {
    display: flex;
    gap: 10px;
}

form .tags {
    flex-direction: column;
}

textarea {
    background: none;
    border: solid 1px;
}

@media screen and (width<=425px) {
    .createIssueModal {
        width: calc(100% - 45px);
        left: 45px;
    }

    .createIssueModal .closeButton {
        margin-right: 0px;
    }
}

@media screen and (width<=320px) {
    form {
        width: 200px;
    }

    form .field {
        flex-direction: column;
    }

    .createIssueModal {
        width: calc(100% - 45px);
        left: 45px;
    }

    .createIssueModal .closeButton {
        margin-right: 10px;
    }
}
