main {
    display: flex;
    gap: 20px;
    position: relative;
}

button:hover {
    box-shadow: var(--shadow);
}

@media screen and (width<=425px) {
    .mainContent {
        margin-left: 50px;
    }
}
