.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(3, 3, 87);
    color: white;
    padding: 5px;
}
.tag img {
    width: 20px;
    height: 20px;
}
