.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    padding: 4px 10px;
    background-color: rgba(45, 212, 191, 0.15);
    color: #2dd4bf;
    border: 1px solid rgba(45, 212, 191, 0.4);
}

.tag img {
    width: 20px;
    height: 20px;
}
