.projectCard {
    display: flex;
    width: 700px;
    flex-direction: column;
    border: solid 1px var(--accent-border);
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.projectCard:hover {
    box-shadow: var(--shadow);
}

.projectCard.completed {
    border-color: rgb(2, 255, 200);
}

h2 {
    text-align: center;
}

.projectCard .firstColumn {
    display: flex;
    justify-content: space-between;
}

.projectCard .titleContainer {
    display: flex;
    flex-direction: column;
}
.projectCard .title {
    font-size: 24px;
}

.projectCard .idContainer {
    align-self: flex-start;
    font-size: 14px;
}

@media screen and (width<=768px) {
    .projectCard {
        width: 400px;
    }
}

@media screen and (width<=425px) {
    .projectCard {
        width: 220px;
    }

    .projectCard .title {
        font-size: 18px;
    }
}
