.open {
    display: flex !important;
}

.expand {
    display: none;
    flex-direction: column;
}

.filterCard,
.sortCard {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filterContainer,
.searchContainer,
.sortContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

select {
    height: 30px;
    padding: 5px;
    background: var(--bg);
    border-color: var(--border);
    color: var(--text);
}

::picker(select) {
    color: var(--text);
}

input {
    background: none;
    padding: 5px;
    height: 15px;
    border: solid 0.1px var(--border);
}

.menuContainer {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    /* margin-right: 80px; */
}

.menuContainer button {
    background: none;
    border: none;
}

.menuContainer button img {
    width: 30px;
    height: 30px;
}

.clearButtonContainer {
    margin-left: auto;
}

.clearButtonContainer button {
    background: none;
    padding: 5px;
    border: solid 1px var(--border);
    border-radius: 8px;
    min-width: 60px;
    height: 30px;
}

@media screen and (width<=325px) {
    /* .menuContainer {
        margin-right: 25px;
    } */

    .clearButtonContainer {
        margin-right: 25px;
    }
}
