.sideLink {
    height: 70px;
    display: flex;
    border: solid 1px var(--border);
}

.sideLink a {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--text);
}

.sideLink .active {
    background-color: var(--accent-bg);
}

.sideLink:hover {
    box-shadow: var(--shadow);
}

.sideLink img {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}

.sideLink span {
    margin-right: auto;
}

@media screen and (width<=425px) {
    .sideLink span {
        display: none;
    }
    .sideLink {
        padding: 0px;
    }
    .sideLink img {
        width: 20px;
        height: 20px;
    }
}
