.badge {
    width: 100px;
    height: 30px;
    padding: 4px;
    border: solid 1px white;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    border-color: rgb(136, 136, 255);
    color: rgb(136, 136, 255);
    align-items: center;
}

.badge.completed {
    border-color: rgb(2, 255, 200);
    color: rgb(2, 255, 200);
}

@media screen and (width<=425px) {
    .badge {
        width: 50px;
        height: 20px;
        font-size: 12px;
    }
}
