.header {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px var(--border);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
}

.rightEnd {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.rightEnd button {
    padding: 10px;
    border-radius: 8px;
    border-color: var(--accent);
    color: var(--text);
}
