.issueCard {
    display: flex;
    flex-direction: column;
    width: 450px;
    border: solid 1px white;
    padding: 8px;
    gap: 4px;
    border-radius: 10px;
    justify-content: space-between;
}

.issueCard .firstColumn {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.issueCard .tags {
    display: flex;
}

.issueCard .tags button {
    background: none;
    border: none;
}

.editContainer img {
    width: 40px;
    height: 40px;
}

.issueCard .tags {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

/* .issueCard.active {
    background-color: rgb(120, 138, 120);
    color: black;
} */

.issueCard.completed {
    border-color: rgb(2, 255, 200);
}

.issueCard .tags span {
    padding: 5px;
    border: solid 0.5px white;
    border-radius: 12px;
    font-size: 14px;
    min-width: 40px;
}

.issueCard .dateContainer {
    align-self: flex-start;
    padding-left: 4px;
    color: rgb(83, 83, 83);
}

.issueCard .tags .overdue {
    color: red;
    border-color: red;
}

.issueCard .tagContainer {
    display: flex;
    /* gap: 10px; */
    padding: 5px;
    justify-content: space-around;
}

.issueCard .title {
    font-size: 24px;
}

.container {
    /* border-top: solid 1px;
    border-bottom: solid 1px; */
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
}

.container div {
    display: flex;
    color: rgb(83, 83, 83);
}

.description {
    border-top: solid 0.3px;
    padding: 4px;
    border-bottom: solid 0.3px;
    margin: 3px;
}

@media screen and (width<=425px) {
    .issueCard {
        width: 220px;
    }

    .issueCard .tags span {
        font-size: 10px;
    }
}
